{% extends "Project.html" %}
{% block css_block %}
    <style type="text/css">
/*
      @import url(//fonts.googleapis.com/css?family=Open+Sans);
*/        
      body, h1, h2, h4, .task-name, .task-name-completed {
        font-family: "proxima-nova", "Helvetica Neue", "Arial", "Open Sans", sans-serif;
      }
      body {
          font-size: 12px;
      }
      a {
        color: #0776A0;
        text-decoration: none;
      }
      body > ul > li {
        font-family: "proxima-nova", "Helvetica Neue", "Arial", "sans-serif";
      }
      li {
        padding: 0.3em;
        width: 80em;
      }
      .comment, .description, .due-date,
      .task-attribute, .task-tags, .user {
        font-family: "proxima-nova", "Helvetica Neue", "Arial", "Open Sans", sans-serif;
      }
      .task-attribute {
        color: #b5b5b5;
      }
      .comment {
        font-style: italic;
      }
      .description {
         font-style: italic;
/*
          white-space: pre-wrap;
*/
      }
      .important-due-date {
        color: #FFA039;
        font-weight: bold;
      }
      .task-name-completed {
        text-decoration: line-through;
      }
      .task-tags {
        color: #0776A0;
      }
      .user {
        color: #FFA039;
      }
      
      .green {
        color: #00FF00;
        font-size: 125%
      }

      .yellow {
        color: #FFFF00;
        font-size: 125%
      }

      .red {
        color: #FF0000;
        font-size: 125%
      }
    </style>
{% endblock %}
